@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@500&display=swap');

:root{
    font-family: "Roboto", sans-serif;
    background-color: rgb(241, 238, 235);
    margin: 0;
    padding: 0;
    --sidebar-width: 30vw;
}

body{
    display: grid;
    grid-template-areas:
        'sidebar header'
        'sidebar form'
        'sidebar footer';
    margin: 0;
    column-gap: 0px;
    justify-content: left;
}

#sidebar{
    grid-area: sidebar;
    /* background-image: url("./images/milo-sidebar.jpeg"); */
    background-size: cover;
    background-position: -50px;
    position: relative;
    width: var(--sidebar-width);
    text-align: center;
}

#sidebar > * {
    position: absolute;
    top: 25%;
    transform: translate(0,-50%);
    width: 100%;
    color: white;
    font-size: 25px;
    font-family: "Ubuntu", sans-serif;
}

.sidebar-bg{
    background: black;
    opacity: 0.6;
    padding: 1rem 0rem 4rem 0rem;
}

.sidebar-contents{
    /* padding-left: 3rem; */
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: left;
    padding: 0rem 0rem 0rem 0rem;
}

.logo{
    justify-self: right;
    padding-right: 1rem;
}

.form-header{
    grid-area: header;
    padding: 5rem 6rem 1rem 2rem;
    margin: 0;
    
}

.form-container{
    grid-area: form;
    background-color: rgb(255, 255, 255);
    padding: 1rem 0rem 0rem 2rem;
    box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.5);
    width: 70vw;
}

footer{
    grid-area: footer;
    padding: 2rem 0rem 4rem 2rem;
}

ul{
    display: grid;
    grid-template-columns: max-content max-content;
    list-style: none;
    padding-left: 0;
}

li{
    padding: 0rem 3rem 0.7rem 0rem;
}

footer > p{
    padding-top: 15px;
    font-size: 12px;
}

label{
    font-size: 8px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:rgba(0, 0, 0, 0.5);
}

input{
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    /* outline: none; */
}

input:focus{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

input:invalid{
    border: 1px solid #D55C5F;
}

input:valid{
    border: 1px solid #5cd588;
}

.password-li > p, .confirm-password-li > p {
    color: #D55C5F;
    margin: 6px;
    font-size: 8px;
}

.submit-btn{
    padding: 10px 50px;
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: rgb(69, 131, 69);
    border: 1px solid rgb(69, 131, 69);
    border-radius: 12px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.submit-btn:disabled{
    background-color: rgb(129, 129, 129);
    border: rgb(129, 129, 129);
}

/* medium sized screen */
@media screen and (max-width: 680px) {
    body{
        display: grid;
        grid-template-areas:
            'sidebar'
            'header'
            'form'
            'footer';
    }
    #sidebar{
        width: 100vw;
        height: 20vh;
        background-position: 50% 80%;
    }
    .form-header{
        padding-top: 2rem;
    }
    .form-container{
        width: 95vw;
    }
    #sidebar > * {
        top: 50%;
    }
}

/* small screen */
@media screen and (max-width: 500px) {
    ul {
        grid-template-columns: max-content;
    }
    body{
        display: grid;
        grid-template-areas:
            'sidebar'
            'header'
            'form'
            'footer';
    }
    #sidebar{
        width: 100vw;
        height: 20vh;
    }
    .form-header{
        padding-top: 2rem;
    }
    .form-container{
        width: 92vw;
    }
    #sidebar > * {
        top: 50%;
    }
}