@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    font-family: "Roboto", sans-serif;
    background-color: rgb(241, 238, 235);
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-areas:
        'sidebar header'
        'sidebar form'
        'sidebar footer';
}

#sidebar{
    grid-area: sidebar;
    background-image: url("/images/sidebar-pic.avif");
    background-size: cover;
}

.form-header{
    grid-area: header;
    padding: 5rem 1rem 1rem 2rem;
}

.form-header >*{
    /* min-width: 40rem; */
}

.form-container{
    grid-area: form;
    background-color: rgb(255, 255, 255);
    padding: 1rem 2rem 2rem 2rem;
    box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.5);
    /* position: fixed; */
}

ul{
    display: grid;
    grid-template-columns: max-content auto;
    list-style: none;
    padding-left: 0;
}

li{
    padding-right: 3rem;
}

footer{
    grid-area: footer;
    padding: 3rem 5rem 4rem 2rem;
}

footer > p{
    padding-top: 15px;
    font-size: 12px;
}

label{
    font-size: 8px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:rgba(0, 0, 0, 0.5);
}

input{
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    outline: none;
}

input:focus{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    /* outline: none; */
}

input:invalid{
    border: 1px solid #D55C5F;
    /* box-shadow: none; */
}

input:valid{
    /* box-shadow: none; */
}

.submit-btn{
    padding: 10px 50px;
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: rgb(69, 131, 69);
    border: 1px solid rgb(69, 131, 69);
    border-radius: 12px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 600px) {
    ul {
        grid-template-columns: max-content;
    }
}